
.contenedor-doc{
display: grid;
justify-content: space-between;
position: relative ;
grid-template-columns: repeat(5,1fr);
}
.contenedor-img{
background-color:darkgray;
padding: 10px;
margin: 10px;
}
.boton {
    bottom: 100px;
    right: 50px;
    position: absolute;
    width: 10%;
    height: 30px;
    background: #017bab;
    color:white;
}