/*lista usuarios*/
*{
    font-family: 'Rubik', sans-serif;
}
.modalregistro,.modalUpdate,.modalEliminar{
	position:absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 5%;
	background-color: rgba(0, 0, 0, 0.811);
}
.modalELxd{
	background-color: white;
	border-radius: 5px;
	width: 40%;
}
#container h1{
	font-size: 20pxpx;
	display: inline-block;
    font-family: 'Rubik', sans-serif;
	margin:0 0 0 10px;
}
.btn_new{
	display: inline-block;
	background: #239baa;
	color: #FFF;
	padding: 5px 25px;
	border-radius: 4px;
	margin: 20px;
    font-family: 'Rubik', sans-serif;
	text-decoration: none;
}

table{
	border-collapse: collapse;
	font-size: 11pt;
	font-family: 'arial';
	width: 90%;
	margin: 40px auto;
}
table th{
	text-align: left;
	padding: 10px;
	background: #252c47;
	color: #FFFF;
	border: 1px solid #ffffff;
	text-align: center;
}
table tr:nth-child(odd){
	background: #00000000;
}
table td{
	padding: 12px;
	border: 1px solid #787b86;
}
.link{
	border: none ;
	background-color:white;
	font-size: 15px;
}
.link:hover{
	cursor: pointer;
	font-style: italic;
}
.link_edit{
	color: #004756;
}
.link_delete{
	color: #ff0000;
}
/* eliminar */
.data_delete h2{
	font-size: 12pt;
	margin-bottom: 25px ;
}
.data_delete span{
	font-weight: bold;
	color: #ffffff;
	font-size: 12pt;
}
.btn_cancel, .btn_ok{
	width: 124px;
	background: #478ba2;
	color: #FFF;
	display: inline-block ;
	padding: 5px;
	border-radius: 5px;
	cursor: pointer;
	margin: 15px;
}
.btn_cancel{
	background: #42b343;
}
.data_delete{
	text-align: center;
	margin: 10% auto;
	padding: 30px;
	background-color: white;
	border-radius: 10px;
	width: 50%;

}

/*Actualizar*/
.botoness{
	display: flex;
	padding-inline: 20px ;
}
.form_register{
	width: 450px;
	margin: auto;
	position: relative;
}
.form_register h1{
	color: #000000;
}

form{
    background: #a9beb9;
    margin: auto;
    padding: 15px 20px;
    border:none;
	box-shadow: 0 0 4px #527f7485;
	border-radius: 8px;
}
label{
	display: block;
	font-size: 13pt;
	font-family: 'Rubik', sans-serif;
	margin: 15px 12px 5px;
}
input,select{
	display: block;
	width: 90%;
	font-size: 12pt;
	padding: 7px 10px;
	border: 1px solid #85929e;
	border-radius: 5px;
	margin: 0 auto;
}
input,select:focus{
	outline: none;
}
.notItemOne option:first-child{
	display: none;
}
.modalRegistro,.modalUpdate,.modalEliminar{
	display: none;
}
.show{
	display: block;
}
.btn_save{
	text-align: center;
	font-size: 12pt;
	background: #353738;
	padding: 10px 0 ;
	color: #FFF;
	letter-spacing: 2px;
	border: 0;
	cursor: pointer;
	margin: 15px;
}
.alert{
	width: 100%;
	background: #66e07d66;
	border-radius: 6px;
	margin: 20px auto;
}
.msg_error{
	color: #e65656;
}
.msg_save{
	color: #126e00;
}
.alert p{
	padding: 10px;
}

