* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

/* !CREAR UN CSS PARA EL MENU A PARTE */
/* MAIN MENU STYLE */
.main-menu {
  display: inline-flex;
  background: #252c47; /* fallback for old browsers */
  width: 100%;
  justify-content: space-between;
  padding: 20px 20px ;  
  color: white;
  box-shadow: 0 0 4px #252c47;
}
.main-menu a,.main-menu {
    text-decoration: none;
    color: #ffffff;
}

/* HEADER MENU STYLE */
.header-menu {
  background: #f0f0f0;
  width: 15%;
  font-size: 13px;
  height: 549px;
  box-shadow: 0 0 4px rgb(173, 173, 173) ;
}

.header-menu ul {
  list-style: none;
text-align: center;
}

.header-menu li a {
  text-decoration: none;
  color: #000;  font-weight: bold;
  padding: 2rem 0.5em;
  display: block;
  border-bottom: 1px solid rgb(202, 202, 202);

}

/* *ARREGLAR TRANSITION */
.header-menu li a:hover {
  background-color: #cecece;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.header-menu li ul {
  background: #f3f3f3; /* fallback for old browsers */
  margin-top: -5.09rem;
  margin-left: 14.6%;
  width: 12em;
  display: none;
  position: absolute;
}

.header-menu li:hover ul {
  transition: all 0.8s ease-out;
  display: block;
}
/* iframe */
.bodyIndex{
    display: flex;
}
.derecha{
width: 88%;
}
#frame1{
    width: 100%;
    height: 100%;
}

/**/
/* ESTILOS DE LA TABLA*/
/**/
/* TABLE STYLE */
.table-title {
  height: 2.5em;
  margin-left: auto;
  margin-right: auto;
  background-color: #252c47;
  color: #ffffff;
  width: 70%;
}
.table-title h1 {
  text-align: center;
}

.transactionTable {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  box-shadow: 0px 10px 20px 4px rgba(0, 255, 255, 0.226);
  overflow: hidden;
  border: solid 1px gray;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

thead {
  background-color: #252c47;
}
tbody {
  background-color: #c5dbec;
}

table,
th,
td {
  border-collapse: collapse;

}

th,
td {
  padding: 0.8em 0em;
  text-align: center;
  border-left: 1px solid rgba(0, 0, 0, 0.26);
  border-right: 1px solid rgba(0, 0, 0, 0.26);
  border-bottom: 1px solid rgba(0, 0, 0, 0.26);
}

/* SPAN STYLE*/
th a {
  text-decoration: none;
  color: #ffffff;
}
th a span {
  padding: 0.5em 2em;
}

.botonEliminar{
  color: #ffffff;
  padding: 0.5em 2em;
}




/**/
/* CODIGO DE SUBIR DOCUMENTOS*/
/**/
/* STYLE FORM */
.contenedor-form{
  padding: 4.4% 0 ;
}
.subcontenedor-form{
  width: 40%;
  padding: 8px;
  margin: auto;
  border-radius: 6px;
  border: none;
  background-color: #ffffff;
  box-shadow: 0 0 7px rgb(104, 104, 104);
}

.cabecera-form{
  display: grid;
  grid-template-columns: 3fr 0.5fr;
}

.titulo-form{
  font-weight: bold;
  display: grid;
  width: 70%;
  font-size: 20px;
  margin-bottom: 25px;
}

.boton-guardar{
  background: #2196f3;
  color: #fff;
  padding: 0 3px;
  text-transform: uppercase;
  font-weight: bold;
  align-items: center;
  width: max-content;
  height: 35px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  
}


.etiqueta{
  font-weight: bold;
  display: inline-block;
  width: 24%;
}

.campos{
  width: 75%;
  background: white;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid rgb(158, 158, 158);
  font-size: 16px;
}
.campos:focus{
  outline: none;
}

.subir-archivo{
  width: 50%;
  margin: auto;
  margin-top: 10px;
}

.mensaje{
  padding-bottom: 10px;
  width: 80%;
  text-align: center;
  margin: auto;
  color: #c71d1d;
  font-weight: bold;
}

